html * {
    font-family: Arial, Helvetica, sans-serif;
}

img, h1 {
    display: inline-block;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.column h3 {
    text-align: center;
}

ul {
    display: flex;
    justify-content: space-between;
    margin: 1pc 5pc 5pc 5pc;
    list-style: none;
}

ul span {
    float: right;
}

.news, .updates {
    margin: 5% 20% 2%;
}


.body p {
    text-indent: 2em;   
}

footer {
    padding: 2px;
    background-color: aliceblue;
}
