html * {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: inline-block;
}

h1 {
    display: inline-block;
    text-justify: auto;
}


ul {
    margin-left: 5pc;
    list-style: none;
}

#menu-bar li {
    display: inline-block;
    margin-right: 14vw;
}

h3 {
    margin-left: 5pc;
    margin-top: 2pc;
}

span {
    float: right;
}

#fix {
    width: fit-content;
} 

.column {
    float: left;
    width: 33%;
    height: 100vh;
}

.body p {
    text-indent: 2em;   
}

